body {
	background: #FFFFFF;
	font-family: 'Open Sans', Arial, Verdana, sans-serif;
	font-size: 12px;
	color: #444;
}

#genres {
	width: 20%;
	float: left;
	border: 5px solid #EEE;
	overflow: auto;
	padding: 7px;
	background-color: #EEE;
}

.list {
	list-style-image: url('images/list_bullet.png'); 
}
.genre {
	font-family: 'Open Sans', sans-serif;
	font-size: 36px;
	/*font-variant: small-caps;*/
	font-style: italic;
	/*font-weight: bold;*/
	margin-bottom: 18px;
}

#subgenres {
	font-size: 16px;
	font-weight: bold;
}

.subgenre {
	font-size: 14px;
}

#related {
	font-size: 16px;
	font-weight: bold;
}

.rgenres {
	font-size: 14px;
}

#descript {
	font-size: 16px;
	font-weight: bold;
}

.description {
	font-size: 12px;
	margin-top: 10px;
	margin-left: 15px;
	border: 1px solid #CCC;
	background-color: #CCC;
	padding: 7px;
}

#artists {
	margin-left: 30px;
	float: left;
}

.artbox {
	border: 5px solid #EEE;
	overflow: auto;
	padding: 7px;
	margin-bottom: 10px;
	background-color: #EEE;
}

.arrows {
	float: left;
}

.up {
	text-align: center;
	margin-bottom: 10px;
}

.down {
	text-align: center;
}

.artdesc {
	float: left;
	margin-left: 15px;
}

.artist {
	font-size: 28;
	margin-bottom: 10px;
}

.artistdescription {
	font-size: 16px;
	margin-bottom: 25px;
}

.samples table {
	border: 0px solid #AAA;
	border-collapse: collapse;
}

.samples td {
	background-color: #DDD;
	border-bottom: 5px solid #EEE;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 7px;
	padding-left: 7px;
}