body {
	background: url('images/background3.png');
	font-family: 'Open Sans', Arial, Verdana, sans-serif;
	font-size: 12px;
	color: #333;
}

#content {
	margin: 0 auto;
	padding-left: 10px;
	padding-right: 10px;
	display: table;
	margin: auto;
	width: 1011px;
	background: #777;
	opacity: 0.7;
}

#header {
	height: 125px;
	border-bottom: 10px solid #BBB;
}

.menubutton {
	float: right;
	background: #CCC;
	width: 100px;
	height: 40px;
	margin-left: 10px;
	line-height: 37.5px;
	vertical-align: middle;
}

.menubutton:hover {
	color: #FFF;
	/*font-weight: bold;*/
	cursor: pointer;
	background-color: #999;
	-webkit-transition: all .08s ease-in;
	-moz-transition: all .08s ease-in;
	-ms-transition: all .08s ease-in;
	-o-transition: all .08s ease-in;
	transition: all .08s ease-in;
}


#headmenu {
	float: right;
	margin-top: 75px;
	text-align: center;
	color: #333;
	font-size: 18px;
	/*font-weight: bold;*/
}

#genres {
	width: 30%;
	float: left;
	border: 5px solid #DDD;
	overflow: auto;
	padding: 7px;
	margin-top: 10px;
	background-color: #DDD;
}

.list {
	list-style-image: url('images/list_bullet.png'); 
}

.genre {
	font-family: 'Open Sans', sans-serif;
	font-size: 36px;
	/*font-variant: small-caps;*/
	font-style: italic;
	/*font-weight: bold;*/
	margin-bottom: 18px;
}

#subgenres {
	font-size: 16px;
	font-weight: bold;
}

.subgenre {
	font-size: 14px;
}

#related {
	font-size: 16px;
	font-weight: bold;
}

.rgenres {
	font-size: 14px;
}

#descript {
	font-size: 16px;
	font-weight: bold;
}

.description {
	font-size: 12px;
	margin-top: 10px;
	margin-left: 15px;
	border: 1px solid #CCC;
	background-color: #CCC;
	padding: 7px;
}

#artists {
	margin-left: 10px;
	float: left;
	margin-top: 10px;
}

.artbox {
	border: 5px solid #DDD;
	overflow: auto;
	padding: 7px;
	margin-bottom: 10px;
	background-color: #DDD;
}

.artbox:hover {
	background-color: #EEE;
	position: relative;
	top: -2px;
	border: 5px solid #EEE;
	-webkit-transition: all .1s ease-in;
	-moz-transition: all .1s ease-in;
	-ms-transition: all .1s ease-in;
	-o-transition: all .1s ease-in;
	transition: all .1s ease-in;
}

.uarrow {
	display: block;
	width: 23px;
	height: 20px;
	background-image: url('images/up_both.png');
	background-position: 0 0; width: 23px; height: 20px;
	cursor: pointer;
}

.uarrow:hover {
	background-position: 0 -40px; width: 23px; height: 20px;
}

.darrow {
	display: block;
	width: 23px;
	height: 20px;
	background-image: url('images/down_both.png');
	background-position: 0 0; width: 23px; height: 20px;
	cursor: pointer;
}

.darrow:hover {
	background-position: 0 -40px; width: 23px; height: 20px;
}

.suarrow {
	display: block;
	width: 12px;
	height: 10px;
	background-image: url('images/sup_both.png');
	background-position: 0 0; width: 12px; height: 10px;
	cursor: pointer;
}

.suarrow:hover {
	background-position: 0 -20px; width: 12px; height: 10px;
}

.sdarrow {
	display: block;
	width: 12px;
	height: 10px;
	background-image: url('images/sdown_both.png');
	background-position: 0 0; width: 12px; height: 10px;
	cursor: pointer;
}

.sdarrow:hover {
	background-position: 0 -20px; width: 12px; height: 10px;
}

.arrows {
	float: left;
}

.up {
	text-align: center;
	margin-bottom: 5px;
}

.down {
	text-align: center;
}

.artdesc {
	float: left;
	margin-left: 15px;
}

.artist {
	font-size: 28;
	margin-bottom: 10px;
}

.artistdescription {
	font-size: 16px;
	margin-bottom: 25px;
}

.samples table {
	border: 0px solid #CCC;
	border-collapse: collapse;
}

.samples td {
	background-color: #CCC;
	border-bottom: 5px solid #DDD;
	padding-top: 5px;
	padding-bottom: 3px;
	padding-right: 7px;
	padding-left: 7px;
}

.youtube {
	background: url('images/youtube_both.png') no-repeat top center;
	background-position: 0 0; width: 32px; height: 32px;
}

.youtube:hover {
	background-position: 0 -64px; width: 32px; height: 32px;
	cursor: pointer;
}